@import '../../common/app.scss';
.homePage{
	.body {
		flex-direction: column;
		display: flex;
		justify-content: center;
		text-align: center;
		font-size: 18px;
		.navs {
			width: 100%;
			p {
				color: blue;
				margin-top: 10px;
				font-size: 12px;
			}
		}
	}
	
}